# Exclude node_modules and compiled output
node_modules
dist

# Exclude Git metadata and other local config files
.git
.gitignore

# Exclude local environment variables file (if not needed for the build)
.env

# Exclude files not needed in the container
Dockerfile
README.md
